body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  display: block;
  border: none;
  -webkit-box-shadow: 7px 6px 5px 0px rgba(31,25,24,0.32);
  -moz-box-shadow: 7px 6px 5px 0px rgba(31,25,24,0.32);
  box-shadow: 7px 6px 5px 0px rgba(31,25,24,0.32);
}

button {
  cursor: pointer;
}

.navbar .title {
  display: inline-block;
  text-align: center;
  font-size: 1.7em;
  color: white;
}

.navbar a {
  display: inline-block;
  padding-top: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 24px;
}

.navbar a:hover {
  background-color: #000;
}

.search-container {
  float: left;
  padding-bottom: 5px;
}
.search-container input {
  width: 0px;
  opacity: 0;
  margin: 17px 10px;
  padding: 3px;
  transition: all .5s ease;
  position:absolute;
}
.search-container input.expanded {
  width: 200px;
  opacity: 1;
}
a.menu-icon {
  float: right;
}

i.fa.fa-bars::before {
  float: right;
}
.null {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;
}
.content {
  margin-top: 20px;
}

.modal-button {
  background: transparent;
  color: white;
  border: none;
}

.resources-container, .resource-table, .job-list-container {
  display: flex;
  justify-content: center;

}

table, tbody{
  margin-top: 10px;
  width: 80%;
  height: 100%;
  border-collapse: collapse;
}

.resources-container img {
  width: 50px;
  height: 50px;
  text-align: center;
}
tr:hover {
  background-color: #f5f5f5
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
}

th {
  background-color :#404040;
  color: white;
}
th:hover {
  background-color: #202020;
}
th:first-child {
  border-top-left-radius: 10px;
}
 th:last-child {
  border-top-right-radius: 10px;
}
.resource-table {
  width: 100%;
  height: 100%;
}
.resource-modal {
  display: flex;
  width: 100%;
  padding: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.resource-modal button{
  position: absolute;
  right: 20px;
  top: 20px;
}
.resource-modal img {
  display: block;
  min-height: 250px;
  min-width: auto;
}
.resource-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px 50px;
  padding: 10px;
  border-left: thick solid #808080;
}
p.description {
  margin-top: 10px;
  max-width: 1000px;
}
