@import url('https://fonts.googleapis.com/css?family=Exo+2|Roboto');
html, body, #root, .App {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #dfdbe0;
}

h1,h2,h3,h4 {
  font-family: 'Exo 2', sans-serif;
}

.App {
  text-align: center;
}

.App-intro {
  margin-right: 19px;
}

a {
  cursor: pointer;
}

.navbar {
  overflow: hidden;
  background-color: #2e075a;
  width: 100%;
  display: block;
  border: none;
  -webkit-box-shadow: 7px 6px 5px 0px rgba(31,25,24,0.32);
  -moz-box-shadow: 7px 6px 5px 0px rgba(31,25,24,0.32);
  box-shadow: 7px 6px 5px 0px rgba(31,25,24,0.32);
  padding-bottom: 10px;
}

.auth-buttons {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.github {
  font-size: 20px;
  font-family: 'Exo 2', sans-serif;
}

button {
  cursor: pointer;
}

button.close {
  color: #A9A9A9;
  position: absolute;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  font-size: 8px;
}

button.clear-search.pointer-events {
  background: #ffe78f;
  border: none;
  color: #2e075a;
  font-size: 10px;
  text-align: center;
  padding: 7px;
  font-weight: 800;
}

.navbar .title {
  display: inline-block;
  text-align: center;
  font-size: 1.85em;
  color: #fff;
}

.navbar a {
  display: inline-block;
  padding-top: 16px;
  transition: all 0.3s ease;
  color: #ffe78f;
  font-size: 24px;
}

.navbar a:hover {
  color: #845af4;
}

.search-container {
  position: absolute;
  text-align: left;
  pointer-events: none;
  width: 100%;
}

.clear-search, .search-container input {
  position: relative;
  top: -5px;
}

.search-container input {
  width: 0px;
  opacity: 0;
  margin: 0px 10px;
  padding: 3px;
  transition: all .5s ease;
}

.pointer-events {
  pointer-events:auto;
}

.search-container input.expanded {
  background-color: #606060;
  width: 20%;
  opacity: 1;
  border: none;
  padding: 3px;
  color: white;
  border-radius: 5px;
}

.clear-search {
  border-radius: 50%;
  z-index: 10;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cccccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cccccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cccccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cccccc;
}

a.menu-icon {
  float: right;
}

.auth-buttons {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

i.fa.fa-bars::before {
  float: right;
}

.null {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;
}

.content {
  margin-top: 20px;
}

.modal-button {
  background: transparent;
  color: white;
  border: none;
}
.modal-button:hover {
  color: #ffe78f;
}

.resources-container, .resource-table, .job-list-container {
  display: flex;
  justify-content: center;
}

table, tbody{
  margin-top: 10px;
  width: 80%;
  height: 100%;
  border-collapse: collapse;
}

.resource-table img {
  width: 50px;
  height: 50px;
  text-align: center;
}

i.fa-trash-o:hover {
  cursor: pointer;
}

.sortbutton {
  padding: 9px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background: #845af4;
  color: #f5f5f5;
  margin-bottom: 12px;
  margin-right: 19px;
  font-size: 11px;
}
.sortbutton:hover, .addjobbutton:hover {
  background: #2e075a;
}
.addjobbutton {
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  border: none;
  background: #845af4;
  color: #f5f5f5;
  margin-bottom: 12px;
  margin-right: 19px;
  font-size: 12px;
}

tr:not(:first-child):hover {
  background-color: #08d2e7;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #2e075a;
  color: white;
}

th:hover:not(:last-child) {
  background-color: #845af4;
}

th:first-child {
  border-top-left-radius: 10px;
}

/*th:nth-last-child(2) {
  border-top-right-radius: 10px;
}*/
.last-resources-th {
  border-top-right-radius: 10px;
}
.last-jobs-th {
  border-top-right-radius: 10px;
}

.delete-heading {
  background: none;
}

.resource-table {
  width: 100%;
  height: 100%;
}
.resource-table th {
  cursor: pointer;
}
.resource-table th:last-child {
  cursor: default;
}
.resource-modal {
  display: flex;
  width: 100%;
  padding: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.resource-modal img {
  display: block;
  max-height: 250px;
  min-width: auto;
}

.resource-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px 50px;
  padding: 10px;
  border-left: thick solid #808080;
}

p.description {
  margin-top: 10px;
  max-width: 1000px;
  width: 1000px;
}

.job-list-container th:nth-child(-n+3){
  cursor: pointer;
}

.job-resource-container {
  height: 80%;
  width: 80%;
}

button.close-resource-modal {
  position: absolute;
  right: 20px;
  top: 20px;
}

h3 {
  padding: 0;
  margin: -30px 0 10px 0px;
  text-align: center;
}

.add-resource-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  height: 100%;
}
.add-resource-container textarea {
  min-height: 35px;
  padding: 5px;
}
textarea.additional-details {
  min-height: 70px;
}
.save-button-container {
  display: flex;
  justify-content: center;
}
button.save-resource {
  max-height: 35px;
  max-width: 150px;
  min-height: 35px;
  min-width: 150px;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
}
button.save-resource:active {
  transform: translateY(2px);
}

.add-job-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  height: 480px;
}
.add-job-container textarea {
  min-height: 35px;
  padding: 5px;
}
textarea.additional-details {
  min-height: 70px;
}
button.save-job {
  max-height: 35px;
  max-width: 150px;
  min-height: 35px;
  min-width: 150px;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
}
button.save-job:active {
  transform: translateY(2px);
}
.error {
color: #D8000C;
background-color: #FFBABA;
margin: 10px;
padding: 5px;
border-radius: 10px;
}

.job-list-dropdown {
  display: flex;
}
.job-list-dropdown button {
  margin-left: 10px;
}

.small {
  font-size: 9px;
}
.about-container {
  margin: 0 20%;
  height: 100%;
}
.about-container p {
  font-size: 16px;
}
.contributors-container {
  display: flex;
  margin: 20px 0px;
  justify-content: center;
}
.contributor img {
  display: flex;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0px 20px;
}
footer{
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}