/data/

client/public/*.js
client/public/*.css

# Node build artifacts
node_modules
npm-debug.log*
client/npm-debug.log*

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
